<router-outlet></router-outlet>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <app-liste (msgToCv)="sendToDetails($event)" [candidates]="tabCandidats"></app-liste>
        </div>
        <div class="col-md-7">
            <app-details [candidatSelected]="selectedCandidat"></app-details>
        </div>
    </div>
    <!-- <button (click)="addNewCandidat()" class="btn btn-danger">Add Candidat</button> -->
</div>
<!-- 
<input #inputName type="text" class="form-control">
{{ inputName.value }}
<button class="btn btn-danger" (click)="checkButton(inputName)">Check</button>
<ng-content></ng-content> -->

<!-- <button class="btn btn-danger" (click)="addCandidat()">Add New Candidate</button> -->